
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" content-type="application/json"/>
    <title>Shortest Route</title>
</head>
<body>
    @Html.Raw(ViewBag.JsonReturn)
</body>
</html>
